@model IEnumerable<mongo_lr3.Models.Member>

@{

}

@using(Html.BeginForm("Create", "Member", FormMethod.Post, new { id = "form", enctype = "multipart/form-data"}))
{
    <div class="col-3">
        <input type="hidden" class="form-control" name="id"/>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="Name" />
        </div>
        <div class="input-group mb-3">
             <input type="number" class="form-control" name="age" placeholder="Age" />
        </div>
        <div class="input-group mb-3">
             <input type="file" class="form-control" name="file" />
        </div>
        <input type="submit" disabled value="Add" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="d-flex justify-content-evenly">
                    @Html.DisplayNameFor(model => model.Name)
                    <input type="text" id="nameFilter" placeholder="Name filter" class="form-control ml-4 w-25" />
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-evenly">
                    @Html.DisplayNameFor(model => model.Age)
                    <input type="text" id="ageFilter" placeholder="Age filter" class="form-control ml-4 w-25" />
                </div>
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a href="#" class="operation-edit" id="@item.Id">Edit</a> |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
